/.idea/

/app/config/parameters.yml
/app/Resources/json/

/bin/*
!bin/console
!bin/symfony_requirements

/var/cache/*
/var/logs/*
/var/sessions/*
/var/bootstrap.php.cache

/vendor/

/web/bundles/
/web/uploads/

/phpunit.xml
