{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <nav style="margin-top: 1em">
            <ul>
                <li><a href="/utility">Item Table</a></li>
                <li><a href="/itemInfo.json">Raw Item Data</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
